<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.1/phpunit.xsd"
    colors="true"
    processIsolation="false"
    stopOnError="false"
    printerClass="KoansLib\KoanPrinter"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="PHPKoans">
            <directory suffix="Koans.php">koans/</directory>
        </testsuite>
    </testsuites>
</phpunit>
