<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.1/phpunit.xsd"
    colors="true"
    processIsolation="false"
    stopOnError="true"
    printerClass="KoansLib\KoanPrinter"
    stopOnFailure="true"
>

    <testsuites>
        <testsuite name="PHPKoans">
            <directory suffix="Koans.php">koans/</directory>
            <file>koans/AssertKoans.php</file>
            <file>koans/StringKoans.php</file>
            <file>koans/StringManipulationKoans.php</file>
        </testsuite>
    </testsuites>

</phpunit>
